<!DOCTYPE html>
<html>
<head>
    <title>View</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<main>
    <h1>Content of the Main Page</h1>
</main>
<div class="container">
    <div class="row">
        <div class ="col md-12">
            <div class="jumbotron p-3">
                <h2>Manage <b>Service</b>
                    <button type="button" class="btn btn-success" style="float:right"
                                                   data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#mymodal">Add new Person</button></h2>
                <div class="input-group mb-3">

                    <div class="input-group-append">
                        <form class="d-flex" action="/person/info" method="get">
                            <input type="text" class="form-control" placeholder="Search" name="search">
                            <button class="btn btn-outline-secondary" type="submit">Search</button>
                        </form>
                    </div>
                </div>
                <table class="table table-hover">

                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Major</th>
                        <th class="text-center">Appearance</th>
                        <th>Last Updated</th>
                        <th>Action</th>
                    </tr>

                    {{range $index, $element := .data}}
                    <tr>
                        <td>{{$index}}</td>
                        <td>{{$element.name}}</td>
                        <td>{{$element.major}}</td>
                        <td class="d-flex justify-content-center">
                            <form action="/person/info/appearance?id={{._id.Hex}}" method="post">
                                <input type="hidden" name="name" value="{{$element.name}}">
                                <input type="hidden" name="major" value="{{$element.major}}">
                                <button type="submit" class="btn btn-outline-{{if $element.appearance}}success{{else}}danger{{end}}"
                                        data-id="{{$element._id.Hex}}"
                                        data-appearance="{{$element.appearance}}">
                                    {{if $element.appearance}}present{{else}}absent{{end}}
                                </button>
                            </form>
                        </td>
                        <td>{{$element.updated_at}}</td>
                        <td class="d-flex" style="gap: 4px">
                            <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modaledit{{$index}}">Edit</a>
                            <a href="" class="btn btn-danger btn-xs" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modaldelete{{$index}}">Delete</a>
                        </td>
                    </tr>

                    <!-- Modal Delete -->

                    <div id="modaldelete{{$index}}" class="modal fade" role="dialog">
                        <form action="/person/info/delete?id={{._id.Hex}}" method="POST">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Xóa {{$element.name}} ?</p>
                                </div>
                                <div class="modal-footer">
                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit">Confirm</button>
                                    </div>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>


                    <!-- End -->

                    <!-- Modal Update -->

                    <div id="modaledit{{$index}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <form action="/person/info/update?id={{._id.Hex}}" method="POST">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Update Data</h4>

                                </div>

                                <div class="modal-body">

                                        <div class="form-group">
                                            <label>Name:</label>
                                            <input type="text" class="form-control" name="name" value="{{$element.name}}">
                                        </div>

                                        <div class="form-group">
                                            <label>Major:</label>
                                            <input type="text" class="form-control" name="major" value="{{$element.major}}">
                                        </div>

                                     
                                </div>

                                <div class="modal-footer">
                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit">Update</button>
                                    </div>

                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                </div>


                            </div>

                        </div>
                        </form>
                    </div>
                    <!-- End -->
                    {{end}}
                </table>
            </div>

            <!-- Modal Add-->
            <div id="mymodal" class="modal fade" role="dialog">
                <form action="/person/info" method="POST">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Data</h4>

                        </div>
                        <div class="modal-body">

                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="text" class="form-control" name="name" required="1">
                                </div>

                                <div class="form-group">
                                    <label>Major:</label>
                                    <input type="text" class="form-control" name="major" required="1">
                                </div>
                        </div>

                        <div class="modal-footer">

                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Confirm</button>
                            </div>

                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        </div>



                    </div>

                </div>
                </form>

            </div>
            <!-- End -->


        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>